/** 
 * base styling for hoverscroll behavior 
 *
 */

.hoverscroll_inner {

   transition: transform 0.0166s;
   transition-timing-function: ease-out; 
   -webkit-transition: -webkit-transform 0.0166s;
   -webkit-transition-timing-function: ease-out; 
}

.hoverscroll_outer {
    overflow: hidden;
}

.hoverscroll_inner img {
   transition: transform 0.5s;
   transition-timing-function: ease-out; 
   -webkit-transition: -webkit-transform 0.5s;
   -webkit-transition-timing-function: ease-out; 
}
