/** 
 * base styling for hoverscroll behavior 
 *
 */

.hoverscroll_inner {
   transition: transform 0.1s;
   transition-timing-function: ease-out; 

   -webkit-transition: -webkit-transform 0.1s;
   -webkit-transition-timing-function: ease-out; 
}

.hoverscroll_outer {
    overflow: hidden;
}

